@model IEnumerable<u17004111_HW04.Models.FileModel>
<h2>
    Edit Materials page.
</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <table class="table">
            <tr>
                <th>
                    Filename
                </th>
                <th>
                    Action
                </th>
            </tr>

            @if (Model != null)
            {
                foreach (var file in Model)
                {
                    <tr>
                        <td>@file.FileName <input type="text" placeholder="@file.FileName" name="@file.FileName" /> </td>
                        <td>@Html.ActionLink("Delete", "Delete", "File", new { fileName = file.FileName }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            }
        </table>
    </div>
}

<br />
<div>
    @Html.ActionLink("Back to Admin page", "Admin")
</div>