@model IEnumerable<u17004111_HW04.Models.User>

<h2>Login</h2>

<form method="post">
    <div class="row">
        <div class="col-1">
            <label>Username:</label>
            <br />
            <label>Password:</label>
            <br />
        </div>
        <div class="col-1" >
            <input type="text" id="username" name="username" />
            <br />
            <input type="password" id="password" name="password" />
            <br />
        </div>
    </div>
    
    <input class="btn btn-primary" type="submit" value="Login" formmethod="post" />
</form>
<br />
@Html.ActionLink("Create Account", "CreateAccount", "Account")
<br />
<h3>@ViewData["loginMessage"]</h3>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
    </tr>

    @{
        foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Surname
                </td>
                <td>
                    @user.getUsername()
                </td>
                <td>
                    @user.getPassword()
                </td>
            </tr>
        }
    }
</table>
