@model dynamic

@{
    //var user = ViewData["usertype"];
    //This user object in the model is the current user.
    var usermodel = Model.currentUser;
    var usertype = usermodel.GetType().Name;

    if (usermodel != null)
    {
        <h1>Login successful!</h1>
        <h3>@usermodel.getUsername()</h3>
        <h3>@usertype</h3>

        switch (usertype)
        {
            case "Student":
                <div class="card-deck row-cols-3">
                    <a href="@Url.Action("Files", "File")" title="View files" class="links">
                        <div class="card">
                            <img alt="View files" src="@Url.Content("~/Resources/Other_Images/documents.png")" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">View Files</h5>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("UserDetails", "Account")" title="Profile" class="links">
                        <div class="card">
                            <img alt="View profile" src="@Url.Content("~/Resources/Other_Images/man.png")" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">View Profile</h5>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </a>
                </div>
                break;

            case "Educator":
                <div class="card-deck row-cols-3">
                    <a href="@Url.Action("Upload", "File")" title="Upload files" class="links">
                        <div class="card">
                            <img alt="Upload files" src="@Url.Content("~/Resources/Other_Images/upload_document.png")" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Upload Files</h5>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("ViewFiles", "File")" title="View files" class="links">
                        <div class="card">
                            <img alt="View files" src="@Url.Content("~/Resources/Other_Images/file-delete.png")" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">View Files</h5>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("UserDetails", "Account")" title="Upload files" class="links">
                        <div class="card">
                            <img alt="View profile" src="@Url.Content("~/Resources/Other_Images/man.png")" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">View Profile</h5>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </a>
                </div>
                break;

            case "Administrator":
                <div class="card-deck row-cols-3">
                    <a href="@Url.Action("Admin", "Account")" title="View admin functions" class="links">
                        <div class="card">
                            <img alt="View admin" src="@Url.Content("~/Resources/Other_Images/admin.png")" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">View Admin Functions</h5>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("UserDetails", "Account")" title="Upload files" class="links">
                        <div class="card">
                            <img alt="View profile" src="@Url.Content("~/Resources/Other_Images/man.png")" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">View Profile</h5>
                                <p class="card-text"><small class="text-muted"></small></p>
                            </div>
                        </div>
                    </a>
                </div>
                break;

            default:
                <h2>Something went wrong. :/</h2>
                break;
        }
        @Html.ActionLink("Logout", "Logout", "Account");
    }
    else
    {
        <h1>No user is logged in.</h1>
    }
}
